doctype html
html(lang= lang)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content= description)
    title= siteTitle
    link(rel="stylesheet", href="/assets/app.css")
    script(src="/assets/app.js", async)

  body
    h1= siteTitle
