head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title= siteTitle
  meta(name="description", content= description)
  include social
  link(rel="canonical", href= canonical)
  link(rel="stylesheet", href="/style.css")
  script(src="/main.js", defer)
