%typography-kerning {
  font-feature-settings: "kern" 1, "liga" 1;
  text-rendering: optimizeLegibility;
}

%typography-heading {
  @extend %typography-kerning;

  line-height: $line-height-sm;
}

%typography-lead {
  @extend %typography-kerning;
}

%typography-list {
  @extend %typography-kerning;
}
