%typography-kerning {
  font-feature-settings: "kern" 1, "liga" 1;
  text-rendering: optimizeLegibility;
}

%typography-text {
  @media (min-width: $breakpoint-content) {
    text-align: justify;
    word-break: break-all;
  }
}

%typography-heading {
  @extend %typography-kerning;

  line-height: $line-height-sm;
}

%typography-lead {
  @extend %typography-kerning;
}

%typography-list {
  @extend %typography-kerning;
}
