// font
$font-stack-sans-serif: sans-serif;
$font-stack-sans-serif-windows: Calibri, Meiryo, $font-stack-sans-serif;
$font-stack-serif: "PT Serif", serif;

// color
$color-black: hsl(0, 0%, 14%);
$color-white: hsl(0, 0%, 99%);
$color-gray: mix($color-black, mix($color-black, $color-white));

// ratio
$ratio: 1.618; // golden ratio
$ratio-secondary: 1.333; // perfect fourth

$ratio-text: 1;
$ratio-text-xxxl: ($ratio-text * $ratio * $ratio);
$ratio-text-xxl: ($ratio-text * $ratio * (($ratio + $ratio-text) / 2));
$ratio-text-xl: ($ratio-text * $ratio);
$ratio-text-lg: ($ratio-text * (($ratio + $ratio-text) / 2));
$ratio-text-sm: ($ratio-text / (($ratio + $ratio-text) / 2));

$ratio-text-root: ($ratio-text * 1.25);
$ratio-text-root-lg: ($ratio-text * 1.5);

$line-height: $ratio;
$line-height-sm: $ratio-secondary;

// size
$spacing: ($ratio * 1rem);
$spacing-xxl: ($spacing * $ratio * $ratio * $ratio);
$spacing-xl: ($spacing * $ratio * $ratio);
$spacing-lg: ($spacing * $ratio);
$spacing-sm: ($spacing / $ratio);
$spacing-xs: ($spacing / $ratio / $ratio);

$width-content: (32 * 1rem);
$width-content-outer: ($width-content * $ratio);
$width-gutter: ($ratio * 1rem);
$width-gutter-sm: ($width-gutter / $ratio);
$width-gutter-lg: ($width-gutter * $ratio);

$breakpoint-content: rem-to-em(($width-content + ($width-gutter-sm * 2)) * $ratio-text-root);
$breakpoint-full: rem-to-em(($width-content-outer + ($width-gutter-lg * 2)) * $ratio-text-root);
$breakpoint-full-lg: rem-to-em(($width-content-outer + ($width-gutter-lg * 2)) * $ratio-text-root-lg);
