// color
$color-black: hsl(0, 0%, 14%);
$color-black-light: lighten($color-black, 10%);

$color-white: hsl(0, 0%, 99%);
$color-white-dark: hsl(0, 0%, 96%);

$color-gray: hsl(0, 0%, 45%);

$color-orient: #2f6690;
$color-bay-of-many: #26408b;
$color-melanzane: #2b061e;

// typography
$ratio: 1.8;
$ratio-secondary: 1.4;

$text-ratio-root-md: 1.125;
$text-ratio-root-lg: 1.375;

$line-height-body: $ratio;
$line-height-header: $ratio-secondary;

// size
$spacing-line: $line-height-body * 1rem;
$spacing-line-half: $spacing-line / 2;
$spacing-line-double: $spacing-line * 2;

$width-content: 32rem;
$width-hang: (2 + 0.5 + 2) * ($ratio * $ratio * 1rem);
$width-hang: $width-hang + 0.001rem; // bug fix for firefox
$width-gap-sm: 1rem;
$width-gap-md: 2rem;
$width-gap-lg: 6rem;
$width-wrapper-sm: $width-content;
$width-wrapper-md: $width-hang + $width-gap-lg + $width-content;
$width-wrapper-lg: $width-hang + $width-gap-lg + $width-content;

// media query
$mq-sm: "(min-width: #{(($width-wrapper-sm + $width-gap-md * 2) * $text-ratio-root-md) / 1rem * 1em})";
$mq-md: "(min-width: #{(($width-wrapper-md + $width-gap-lg * 2) * $text-ratio-root-md) / 1rem * 1em})";
$mq-lg: "(min-width: #{(($width-wrapper-lg + $width-gap-lg * 2) * $text-ratio-root-lg) / 1rem * 1em})";

@mixin type-header {
  font-family: var(--font-family-header);
  font-kerning: auto;
  font-feature-settings: "palt" 1;
  line-height: $line-height-header;
  color: $color-black-light;
}

@mixin type-antialiase {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-fg: #{$color-black};
  --color-bg: #{$color-white};
  --color-link: #{$color-orient};
  --color-link-underline: #{rgba($color-orient, 0.5)};

  --font-family-body: "YuGothic", sans-serif;
  --font-family-header: "Yu Mincho", serif;
  --font-family-code: "Menlo", "Consolas", monospace;

  --text-size-scale: #{$ratio-secondary};
  --text-size: 1rem;
  --text-size-2: calc((var(--text-size-scale) + 1) / 2 * var(--text-size));
  --text-size-3: calc(var(--text-size-scale) * var(--text-size));
  --text-size-4: calc(
    (var(--text-size-scale) * var(--text-size-scale) + var(--text-size-scale)) /
      2 * var(--text-size)
  );
  --text-size-5: calc(
    var(--text-size-scale) * var(--text-size-scale) * var(--text-size)
  );

  --width-content: #{$width-content};
  --width-gap: #{$width-gap-sm};
  --width-wrapper: var(--width-content);

  --focus-ring-width: 3px;
  --focus-ring-offset: 4px;

  @media #{$mq-sm} {
    --width-gap: #{$width-gap-md};
  }

  @media #{$mq-md} {
    --text-size-scale: #{$ratio};

    --width-hang: #{$width-hang};
    --width-gap: #{$width-gap-lg};
    --width-wrapper: calc(
      var(--width-hang) + var(--width-gap) + var(--width-content)
    );
  }
}

html {
  font-family: var(--font-family-body);
  line-height: $line-height-body;

  @media #{$mq-sm} {
    font-size: percentage($text-ratio-root-md);
  }

  @media #{$mq-lg} {
    font-size: percentage($text-ratio-root-lg);
  }
}

html[data-whatinput="initial"],
html[data-whatinput="mouse"],
html[data-whatinput="touch"] {
  --focus-ring-width: 0;
}

html.wf-active {
  --font-family-header: "heisei-mincho-std", serif;
}

body {
  display: grid;
  grid-template-columns: [full-start] minmax(0, var(--width-content)) [full-end];
  grid-template-areas: "content";
  grid-row-gap: $spacing-line-double;
  justify-content: center;
  margin: $spacing-line 1rem;
  font-kerning: none;
  color: var(--color-fg);
  background-color: var(--color-bg);

  @media #{$mq-md} {
    grid-template-columns:
      [full-start] var(--width-hang) var(--width-content)
      [full-end];
    grid-template-areas: "hang content";
    grid-column-gap: var(--width-gap);
    margin-top: $spacing-line-double;
    margin-bottom: $spacing-line-double;
  }
}

:focus {
  outline: $color-bay-of-many var(--focus-ring-width) solid;
  outline-offset: var(--focus-ring-offset);
  transition: outline-width 0.1s ease-out;
}

h1,
h2,
h3 {
  @include type-header;
  @include type-antialiase;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-left: -0.03125em;
  font-size: var(--text-size-5);

  @media #{$mq-md} {
    margin-left: 0;
  }
}

h2 {
  margin-left: -0.0625em;
  font-size: var(--text-size-4);

  @media #{$mq-md} {
    margin-left: 0;
  }
}

h3 {
  font-size: var(--text-size-3);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p + p {
  margin-top: $spacing-line;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

h3 + ol,
h3 + ul {
  margin-top: $spacing-line-half;
}

li {
  display: flex;
}

li::before {
  content: "-";
  flex-shrink: 0;
  width: 1em;
  color: $color-gray;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

h3 + dl {
  margin-top: $spacing-line-half;
}

dt {
  display: flex;
}

dt:nth-child(n + 2) {
  margin-top: $spacing-line-half;
}

dt::before {
  content: "-";
  flex-shrink: 0;
  width: 1em;
  color: $color-gray;
}

dd {
  margin-left: 1em;
}

a {
  color: var(--color-link);
  text-decoration-color: var(--color-link-underline);
  text-underline-position: under;
}

li > a,
dt > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// It currently does not work with Chrome and Safari, but it will fix in a while.
// https://bugs.chromium.org/p/chromium/issues/detail?id=768220
a:visited {
  --color-link: #{$color-melanzane};
  --color-link-underline: #{rgba($color-melanzane, 0.5)};
}

code {
  font-family: var(--font-family-code);
}

html.no-js yuhei-avator {
  display: none !important;
}

body > yuhei-avator,
body > .yuhei-avator-fallback,
html.no-js body > yuhei-avator + noscript .yuhei-avator-fallback {
  --yuhei-avator__color-fg: #{$color-white-dark};
  --yuhei-avator__color-bg: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

html.no-js body > yuhei-avator + noscript {
  position: absolute; // for grid
}

body > header {
  display: grid;
  grid-column: full;
  grid-row-gap: $spacing-line;

  @media #{$mq-md} {
    grid-template-columns: inherit;
    grid-column-gap: inherit;
  }
}

body > header h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: -0.0625em;
  line-height: 1;

  @media #{$mq-md} {
    display: block;
    text-align: end;
  }
}

body > header h1 ruby {
  display: inline-flex;
  flex-direction: column-reverse;
  margin-right: 0.5em;
}

body > header h1 ruby:last-of-type {
  margin-right: 0.625em;

  @media #{$mq-md} {
    margin-right: 0;
  }
}

body > header h1 rt {
  margin-bottom: 0.25em;
  font-weight: normal;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  line-height: inherit;

  @media #{$mq-md} {
    text-align: start; // for firefox
  }
}

body > header span[lang="en"] {
  position: relative;
  top: 0.25ex;
  margin-top: $spacing-line-half;
  font-size: var(--text-size-2);
  color: $color-gray;

  @media #{$mq-md} {
    position: static;
    display: block;
    margin-top: $spacing-line;
    margin-right: -1.5rem;
  }
}

body > header p {
  @include type-header;
  font-size: var(--text-size-2);
  line-height: unset;
  hanging-punctuation: allow-end;

  @media #{$mq-md} {
    $rt-height: "(var(--text-size-5) * #{0.5 * 1.25})";
    $line-gap-top: "(var(--text-size-2) * #{($line-height-body - 1) / 2})";
    margin-top: calc(#{$rt-height} - #{$line-gap-top});
  }
}

body > main {
  display: grid;
  grid-column: content;
  grid-row-gap: $spacing-line-double;
}

body > main > section {
  min-width: 0;
  hanging-punctuation: allow-end;

  @media #{$mq-md} {
    position: relative;
  }
}

body > main > section h2 {
  margin-bottom: $spacing-line-half;
  hanging-punctuation: none;

  @media #{$mq-md} {
    position: absolute;
    right: 100%;
    width: var(--width-hang);
    margin-right: var(--width-gap);
    margin-bottom: 0;
    text-align: end;
  }
}

body > footer {
  grid-column: content;
  text-align: center;

  @media #{$mq-md} {
    text-align: start;
  }
}

body > footer a[title="yuheiy.com"] {
  --focus-ring-offset: 0;
}

body > footer yuhei-avator,
body > footer .yuhei-avator-fallback {
  width: 4rem;
}
