// color
$color-black: hsl(0, 0%, 14%);
$color-black-light: lighten($color-black, 10%);

$color-white: hsl(0, 0%, 99%);
$color-white-dark: hsl(0, 0%, 96%);

$color-gray: hsl(0, 0%, 45%);

$color-orient: #2f6690;
$color-orient-light: mix($color-orient, $color-white);

$color-bay-of-many: #26408b;

$color-melanzane: #2b061e;
$color-melanzane-light: mix($color-melanzane, $color-white);

// typography
$ratio: 1.8;
$ratio-secondary: 1.4;

$text-ratio-root-md: 1.125;
$text-ratio-root-lg: 1.375;

$line-height-body: $ratio;
$line-height-header: $ratio-secondary;

// size
$spacing-line: $line-height-body * 1rem;
$spacing-line-half: $spacing-line / 2;
$spacing-line-double: $spacing-line * 2;

$spacing-char: 1rem;

$width-content: 32rem;
$width-hang: $width-content / $ratio;
$width-gap-sm: $spacing-char;
$width-gap-md: $spacing-char * 2;
$width-gap-lg: $spacing-char * 3;
$width-wrapper-sm: $width-content;
$width-wrapper-md: $width-hang + $width-gap-lg * 2 + $width-content;
$width-wrapper-lg: $width-hang + $width-gap-lg * 2 + $width-content;

// media query
$mq-sm: "(min-width: #{(($width-wrapper-sm + $width-gap-md * 2) * $text-ratio-root-md) / 1rem * 1em})";
$mq-md: "(min-width: #{(($width-wrapper-md + $width-gap-lg * 2) * $text-ratio-root-md) / 1rem * 1em})";
$mq-lg: "(min-width: #{(($width-wrapper-lg + $width-gap-lg * 4) * $text-ratio-root-lg) / 1rem * 1em})";

@mixin type-header {
    font-family: var(--font-stack-header);
    font-kerning: auto;
    font-feature-settings: "palt" 1;
    line-height: $line-height-header;
    color: $color-black-light;
}

@mixin type-antialiase {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --color-fg: $color-black;
    --color-bg: $color-white;
    --color-link: $color-orient;
    --color-link-underline: $color-orient-light;

    --font-stack-body: "YuGothic", sans-serif;
    --font-stack-header: "Yu Mincho", serif;

    --text-size-scale: $ratio-secondary;
    --text-size: 1rem;
    --text-size-2: calc((var(--text-size-scale) + 1) / 2 * var(--text-size));
    --text-size-3: calc(var(--text-size-scale) * var(--text-size));
    --text-size-4: calc(
         (var(--text-size-scale) * var(--text-size-scale) + var(--text-size-scale)) / 2 *
            var(--text-size)
    );
    --text-size-5: calc(var(--text-size-scale) * var(--text-size-scale) * var(--text-size));

    --width-content: $width-content;
    --width-gap: $width-gap-sm;
    --width-wrapper: var(--width-content);

    --focus-ring-width: 3px;
    --focus-ring-offset: 4px;

    @media #{$mq-sm} {
        --width-gap: $width-gap-md;
    }

    @media #{$mq-md} {
        --text-size-scale: $ratio;

        --width-hang: $width-hang;
        --width-gap: $width-gap-lg;
        --width-wrapper: calc(var(--width-hang) + var(--width-gap) * 2 + var(--width-content));
    }
}

html {
    font-family: var(--font-stack-body);
    line-height: $line-height-body;

    @media #{$mq-sm} {
        font-size: percentage($text-ratio-root-md);
    }

    @media #{$mq-lg} {
        font-size: percentage($text-ratio-root-lg);
    }
}

html[data-whatinput="initial"],
html[data-whatinput="mouse"],
html[data-whatinput="touch"] {
    --focus-ring-width: 0;
}

html.wf-active {
    --font-stack-header: "heisei-mincho-std", serif;
}

body {
    display: grid;
    grid-gap: $spacing-line-double 0;
    max-width: var(--width-wrapper);
    margin: $spacing-line auto;
    padding-right: var(--width-gap);
    padding-left: var(--width-gap);
    font-kerning: none;
    color: var(--color-fg);
    background-color: var(--color-bg);

    @media #{$mq-md} {
        grid-template-columns: 1fr ($ratio * 1fr);
        grid-template-areas:
            "header header"
            ". content"
            ". footer";
        grid-column-gap: calc(var(--width-gap) * 2);
        margin-top: $spacing-line-double;
        margin-bottom: $spacing-line-double;
    }
}

:focus {
    outline: $color-bay-of-many var(--focus-ring-width) solid;
    outline-offset: var(--focus-ring-offset);
    transition: outline-width 100ms ease-out;
}

h1,
h2,
h3 {
    @include type-header;
    @include type-antialiase;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-left: -0.03125em;
    font-size: var(--text-size-5);

    @media #{$mq-md} {
        margin-left: 0;
    }
}

h2 {
    margin-left: -0.0625em;
    font-size: var(--text-size-4);

    @media #{$mq-md} {
        margin-left: 0;
    }
}

h3 {
    font-size: var(--text-size-3);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: $spacing-char;

    @media #{$mq-md} {
        padding-left: 0;
    }
}

li::before {
    content: "-";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: $color-gray;
}

p + p {
    margin-top: $spacing-line;
}

h3 + ol {
    margin-top: $spacing-line-half;
}

a {
    color: var(--color-link);
    text-decoration-color: var(--color-link-underline);
    text-decoration-skip: ink;
}

a:hover {
    text-decoration: none;
}

// It currently does not work with Chrome and Safari, but it will fix in a while.
// https://bugs.chromium.org/p/chromium/issues/detail?id=768220
a:visited {
    --color-link: $color-melanzane;
    --color-link-underline: $color-melanzane-light;
}

html.no-js yuhei-avator {
    display: none;
}

.BgGraphic {
    --yuhei-avator__color-fg: $color-white-dark;
    --yuhei-avator__color-bg: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

html.no-js .BgGraphic + noscript {
    position: absolute; // for grid
}

.PageHeader {
    display: grid;
    grid-gap: $spacing-line 0;

    @media #{$mq-md} {
        grid-area: header;
        grid-template-areas: "hang content";
        grid-template-columns: 1fr ($ratio * 1fr);
        grid-gap: 0 calc(var(--width-gap) * 2);
    }
}

.PageHeader-heading {
    line-height: 1;

    @media #{$mq-md} {
        grid-area: hang;
        text-align: end;
    }
}

.PageHeader-ruby {
    display: inline-flex;
    flex-direction: column-reverse;
}

.PageHeader-ruby {
    margin-left: -0.0625em;

    @media #{$mq-md} {
        margin-left: 0;
    }
}

.PageHeader-ruby + .PageHeader-ruby {
    margin-left: 0.5em;
}

.PageHeader-rb {
}

.PageHeader-rt {
    margin-bottom: 0.25em;
    font-weight: normal;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    line-height: inherit;

    @media #{$mq-md} {
        text-align: start; // for firefox
    }
}

.PageHeader-altHeading {
    display: block;
    margin-top: $spacing-line-half;
    margin-left: 0.03125em;
    font-size: var(--text-size-2);
    color: $color-gray;

    @media #{$mq-md} {
        margin-top: $spacing-line;
        margin-right: $spacing-char * -1.5;
        margin-left: 0;
    }
}

.PageHeader-lead {
    @include type-header;
    font-size: var(--text-size-2);
    line-height: unset;
    hanging-punctuation: allow-end;

    @media #{$mq-md} {
        grid-area: content;
        $rt-height: "(var(--text-size-5) * #{0.5 * 1.25})";
        $line-gap-top: "(var(--text-size-2) * #{($line-height-body - 1) / 2})";
        margin-top: calc(#{$rt-height} - #{$line-gap-top});
    }
}

.Content {
    display: grid;
    grid-gap: $spacing-line-double 0;

    @media #{$mq-md} {
        grid-area: content;
    }
}

.Section {
    hanging-punctuation: allow-end;

    @media #{$mq-md} {
        position: relative;
    }
}

.SubHeading {
    margin-bottom: $spacing-line-half;
    hanging-punctuation: none;

    @media #{$mq-md} {
        position: absolute;
        right: 100%;
        width: var(--width-hang);
        margin-right: calc(var(--width-gap) * 2);
        text-align: end;
    }
}

.PageFooter {
    text-align: center;

    @media #{$mq-md} {
        grid-area: footer;
        text-align: start;
    }
}

.PageFooter-authorLink {
    --focus-ring-offset: 0;
}

.PageFooter-authorImage {
    width: 4rem;
}
