.page-footer {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;

  @media (min-width: 60rem) {
    font-size: 2rem;
  }

  button {
    line-height: inherit;
  }

  &__semicolon {
    padding: 0 .5em;
    font-family: "Averia Serif Libre", cursive;

    &::before {
      content: ";";
    }

    &:active,
    &:focus {
      background-color: #888; /* mix of `--black` (#444) and `--white` (#fcfcfc) */
      outline: none;
    }
  }

  &__bar {
    width: .1em;
    background-color: currentColor;
    animation: flashing 2s linear infinite;

    :active + &,
    :focus + & {
      visibility: hidden;
    }
  }
}
