.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: 30rem) {
    flex-direction: row;
  }

  h1 {
    flex: 1;
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
  }

  nav {
    margin-top: 1rem;

    @media (min-width: 30rem) {
      margin-top: 0;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li:not(:first-child) {
    margin-left: .8em;
  }
}
